body {
    background-color: #05BFDB;
    margin: 0;
    font-family: 'inter';
}

a{
    text-decoration: none;
    color: black;
}

h2 {
    margin-left: 28px;
}

.border {
    width: 800px;
    height: 470px;
    border: 0px solid white;
    background-color: white;
    border-radius: 20px;
    margin-left: 360px;
    margin-top: 96px;
}

img {
    width: 100px;
    height: 100px;
    margin-left: 355px;
    margin-top: 36px;
}

h3{
    text-align: center;
}

.textbox {
    width: 630px;
    height: 45px;
    margin-left: 83px;
    border: 1.5px solid black;
    font-size: 15px;
}

.masuk {
    width: 315px;
    height: 50px;
    margin-left: 237px;
    margin-top: 34px;
    background-color: #14FF00;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    border: 0px solid;
    cursor: pointer;
}